/tmp
/build
/nbproject/
/examples
/docs
/scripts
/src
/tests
/www
karma.conf.js
karma.js
image.jpg
package-lock.json
azure-pipelines.yml
/.project
/.settings/
node_modules/
.envrc
*.sublime-workspace
*.baseline
*.iml
.idea/
.DS_Store
npm-debug.log
debug.log
tests/reftests.js
*.log
.rpt2_cache
